
html, body {
    background-color: #F3F3F3;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.text-bg-purple {
    background-color: #a259ff !important;
    color: #fff !important;
}
.img-tarjetas{
    max-height: 300px !important;
}

.img-cat{
    max-width: 60px !important;

}

.card {
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.02);
}

.img-tarjetas {
    max-height: 200px;
    object-fit: contain;
}

